<template name="Layout">


{{> yield}}



<footer>

        <div class="row">
         <div class="col l1 offset-l5 s2 offset-s3 m1 offset-m4">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://tutorialhunt.herokuapp.com/" target="_blank"><i class="fa fa-facebook"></i></a>
         </div>
         <div class="col l1 s2 m1">
              <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Ftutorialhunt.herokuapp.com%2F&text=Check%20out%20Tutorial%20hunt%20to%20view%20and%20share%20the%20best%20tutorials%20at%20one%20place:%20http%3A%2F%2Ftutorialhunt.herokuapp.com%2F&via=swarnakishoree" target="_blank" title="Tweet"><i class="fa fa-twitter"></i></a>
         </div>
         <div class="col l1 s2 m1">
<a href="https://plus.google.com/share?url=http%3A%2F%2Ftutorialhunt.herokuapp.com%2F" target="_blank" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
                  </div>
                </div>
          
        </footer>



</template>

