
<template name="showProfile">
<div class="container">
  <div class="card">
    <div class="card-content">
       <div class="row">
        <div class="col s12 m5 l5">
            {{#if picture}}
             <img src="{{picture}}" class="circle responsive-img" width="200"/>
          {{else}}
               <img src="{{pictureUrl}}" class="circle responsive-img" width="200"/>
          {{/if}}
        </div>
        
        <div class="col s12 m7 l7">
          <table class="bordered">
            <tr>
            <td>Name:</td>
            <td>{{profileName}}</td>
            </tr>
            <tr>
            <td>Member since:</td>
            <td>{{formatCreatedAt createdAt}}</td>
            </tr>
          </table>
        </div><!--col-->
   </div><!--row-->
  </div><!--card content-->
</div><!--card-->
</div><!--container-->


<div class="container">
  <div class="card">
    <div class="card-content"> 
    
    <h4>Tutorials Created</h4>
      {{#each createdBy}}
      {{> profileDisplay}}
      {{/each}}
    
    </div>
    </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-content"> 
    <h4>Tutorials Upvoted</h4>
     {{#each upvotedBy}}
      {{> profileDisplay}}
      {{/each}}
    </div>
    </div>
</div>

</template>