<template name="Python">
<div class="container">
<br>
<p>Do you know any python tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Python}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Wordpress">
<div class="container">
<br>
<p>Do you know any wordpress tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Wordpress}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>
  


  <template name="AndroidDevelopment">
<div class="container">
<br>
<p>Do you know any android development tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each AndroidDevelopment}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="AngularJs">
<div class="container">
<br>
<p>Do you know any AngularJs tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each AngularJs}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Backbone">
<div class="container">
<br>
<p>Do you know any Backbone.js tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Backbone}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



<template name="Bootstrap">
<div class="container">
<br>
<p>Do you know any Bootstrap tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Bootstrap}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="CAndCPlusPlus">
<div class="container">
<br>
<p>Do you know any C & C++ tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each CAndCPlusPlus}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="CSharp">
<div class="container">
<br>
<p>Do you know any C# tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each CSharp}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Django">
<div class="container">
<br>
<p>Do you know any Django tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Django}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Express">
<div class="container">
<br>
<p>Do you know any Express tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Express}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Git">
<div class="container">
<br>
<p>Do you know any Git tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Git}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Go">
<div class="container">
<br>
<p>Do you know any Go tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="Go">
    <div class="card-content"> 
     {{#each Python}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Hadoop">
<div class="container">
<br>
<p>Do you know any Hadoop tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Hadoop}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="HTMLandCSS">
<div class="container">
<br>
<p>Do you know any HTML & CSS tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each HTMLandCSS}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Java">
<div class="container">
<br>
<p>Do you know any Java tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Java}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="Javascript">
<div class="container">
<br>
<p>Do you know any Javascript tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Javascript}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="Jquery">
<div class="container">
<br>
<p>Do you know any Jquery tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Jquery}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="Meteor">
<div class="container">
<br>
<p>Do you know any Meteor tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Meteor}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="Mongodb">
<div class="container">
<br>
<p>Do you know any Mongodb tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Mongodb}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>





  <template name="Mysql">
<div class="container">
<br>
<p>Do you know any MySql tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Mysql}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="NodeJs">
<div class="container">
<br>
<p>Do you know any NodeJs tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each NodeJs}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="Perl">
<div class="container">
<br>
<p>Do you know any Perl tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Perl}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="PHP">
<div class="container">
<br>
<p>Do you know any PHP tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each PHP}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Photoshop">
<div class="container">
<br>
<p>Do you know any Photoshop tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Photoshop}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="React">
<div class="container">
<br>
<p>Do you know any React tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each React}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="RubyOnRails">
<div class="container">
<br>
<p>Do you know any Ruby on Rails tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each RubyOnRails}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Ruby">
<div class="container">
<br>
<p>Do you know any Ruby tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each Ruby}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="SQL">
<div class="container">
<br>
<p>Do you know any SQL tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
    <div class="card-content"> 
     {{#each SQL}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>
