<template name="Python">
<div class="container">
<br>
<p>Do you know any Python tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Python tutorials</h5>
    <div class="card-content"> 
     {{#each Python}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>

  <template name="Polymer">
<div class="container">
<br>
<p>Do you know any Polymer tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Polymer tutorials</h5>
    <div class="card-content"> 
     {{#each Polymer}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>

<template name="MaterialDesign">
<div class="container">
<br>
<p>Do you know any Material Design tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Material Design tutorials</h5>
    <div class="card-content"> 
     {{#each MaterialDesign}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>

  <template name="MEAN">
<div class="container">
<br>
<p>Do you know any MEAN tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">MEAN tutorials</h5>
    <div class="card-content"> 
     {{#each MEAN}}
    {{> tutorialDisplay}}
  {{/each}}
    </div>
    </div>
</div>
  </template>

  <template name="Sketch">
<div class="container">
<br>
<p>Do you know any Sketch tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Sketch tutorials</h5>
    <div class="card-content"> 
     {{#each Sketch}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>


 <template name="EmberJs">
<div class="container">
<br>
<p>Do you know any Ember.Js tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Ember.Js tutorials</h5>
    <div class="card-content"> 
     {{#each EmberJs}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>


  <template name="iOSAndSwift">
<div class="container">
<br>
<p>Do you know any iOS and Swift tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">iOS and Swift tutorials</h5>
    <div class="card-content"> 
     {{#each iOSAndSwift}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>

  <template name="Wordpress">
<div class="container">
<br>
<p>Do you know any Wordpress tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Wordpress tutorials</h5>
    <div class="card-content"> 
     {{#each Wordpress}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>
  


  <template name="AndroidDevelopment">
<div class="container">
<br>
<p>Do you know any android development tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Android Development tutorials</h5>
    <div class="card-content"> 
     {{#each AndroidDevelopment}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="AngularJs">
<div class="container">
<br>
<p>Do you know any AngularJs tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
   <h5 class="tutHeading">Angular JS tutorials</h5>
    <div class="card-content"> 
     {{#each AngularJs}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Backbone">
<div class="container">
<br>
<p>Do you know any Backbone.js tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
   <h5 class="tutHeading">Backbone Js tutorials</h5>
    <div class="card-content"> 
     {{#each Backbone}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



<template name="Bootstrap">
<div class="container">
<br>
<p>Do you know any Bootstrap tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
   <h5 class="tutHeading">Bootstrap tutorials</h5>
    <div class="card-content"> 
     {{#each Bootstrap}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="CAndCPlusPlus">
<div class="container">
<br>
<p>Do you know any C & C++ tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">C & C++ tutorials</h5>
    <div class="card-content"> 
     {{#each CAndCPlusPlus}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="CSharp">
<div class="container">
<br>
<p>Do you know any C# tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">C# tutorials</h5>
    <div class="card-content"> 
     {{#each CSharp}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Django">
<div class="container">
<br>
<p>Do you know any Django tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
      <h5 class="tutHeading">Django tutorials</h5>
    <div class="card-content"> 
     {{#each Django}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Express">
<div class="container">
<br>
<p>Do you know any Express tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Express tutorials</h5>
    <div class="card-content"> 
     {{#each Express}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Git">
<div class="container">
<br>
<p>Do you know any Git tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Git tutorials</h5>
    <div class="card-content"> 
     {{#each Git}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Go">
<div class="container">
<br>
<p>Do you know any Go tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Go tutorials</h5>
    <div class="card-content"> 
     {{#each Go}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Hadoop">
<div class="container">
<br>
<p>Do you know any Hadoop tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Hadoop tutorials</h5>
    <div class="card-content"> 
     {{#each Hadoop}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="HTMLandCSS">
<div class="container">
<br>
<p>Do you know any HTML & CSS tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">HTML & CSS tutorials</h5>
    <div class="card-content"> 
     {{#each HTMLandCSS}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Java">
<div class="container">
<br>
<p>Do you know any Java tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Java tutorials</h5>
    <div class="card-content"> 
     {{#each Java}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="Javascript">
<div class="container">
<br>
<p>Do you know any Javascript tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Javascript tutorials</h5>
    <div class="card-content"> 
     {{#each Javascript}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="Jquery">
<div class="container">
<br>
<p>Do you know any Jquery tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Jquery tutorials</h5>
    <div class="card-content"> 
     {{#each Jquery}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="Meteor">
<div class="container">
<br>
<p>Do you know any Meteor tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Meteor tutorials</h5>
    <div class="card-content"> 
     {{#each Meteor}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="Mongodb">
<div class="container">
<br>
<p>Do you know any Mongodb tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Mongodb tutorials</h5>
    <div class="card-content"> 
     {{#each Mongodb}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>





  <template name="Mysql">
<div class="container">
<br>
<p>Do you know any MySql tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">MySql tutorials</h5>
    <div class="card-content"> 
     {{#each Mysql}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="NodeJs">
<div class="container">
<br>
<p>Do you know any NodeJs tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">NodeJs tutorials</h5>
    <div class="card-content"> 
     {{#each NodeJs}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="Perl">
<div class="container">
<br>
<p>Do you know any Perl tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Perl tutorials</h5>
    <div class="card-content"> 
     {{#each Perl}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="PHP">
<div class="container">
<br>
<p>Do you know any PHP tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">PHP tutorials</h5>
    <div class="card-content"> 
     {{#each PHP}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Photoshop">
<div class="container">
<br>
<p>Do you know any Photoshop tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Photoshop tutorials</h5>
    <div class="card-content"> 
     {{#each Photoshop}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="ReactAndReactNative">
<div class="container">
<br>
<p>Do you know any React and React Nativetutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">React and React Native tutorials</h5>
    <div class="card-content"> 
     {{#each ReactAndReactNative}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="RubyOnRails">
<div class="container">
<br>
<p>Do you know any Ruby on Rails tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Ruby on Rails tutorials</h5>
    <div class="card-content"> 
     {{#each RubyOnRails}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>



  <template name="Ruby">
<div class="container">
<br>
<p>Do you know any Ruby tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">Ruby tutorials</h5>
    <div class="card-content"> 
     {{#each Ruby}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>




  <template name="SQL">
<div class="container">
<br>
<p>Do you know any SQL tutorials? 
 {{> addTutorialForm}}</p>
   <br>
  <div class="card">
  <h5 class="tutHeading">SQL tutorials</h5>
    <div class="card-content"> 
     {{#each SQL}}
    {{> tutorialDisplay}}
  {{/each}}
  
    </div>
    </div>
</div>
  </template>
